<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" />
     <sessionState mode="InProc" cookieless="false" timeout="30" />
  </system.web>
	<appSettings>
    <add key="SQLConnectionString" value="Password=C2K;Persist Security Info=True;User ID=C2K;Initial Catalog=FeiliksDataAdapter;Data Source=localhost\mssqlserver2008;Packet Size=8192"></add>

    <add key="DefaultSQLType" value="SQL"></add>
		<add key="StartPage" value="Index.aspx"></add>
 

    <!--<add key="StartPage" value="Index.aspx"/>
    <add key="LoginPage" value="/tcca-kia/CheckLogin"/>
    <add key="CasLogin" value="http://183.129.179.162:8000/CheckLogin"/>
    <add key="UserTable" value="S_Employee"/>
    <add key="NameField" value="NameID"/>
    <add key="ProductUrl" value="http://www.greenpass-cn.com:8080/tcca-kia/"/>
    <add key="GreenPassUrl" value="http://183.129.179.162:8000/"/>-->
     
  </appSettings>
    <system.webServer>
      <!--<handlers>
        <add verb="*" name="CheckLogin"  path="CheckLogin" type="Sourcesoft.CheckLogin"/>

      </handlers>-->
        <directoryBrowse enabled="true" />
      
    </system.webServer>
  <!--<system.web>
    <httpHandlers>
      <add verb="*" path="CheckLogin" type="Sourcesoft.CheckLogin"/>
    </httpHandlers>
  </system.web>-->
</configuration>